x-restart-policy: &restart_policy
  restart: unless-stopped
x-brume-default: &brume-default
  <<: *restart_policy
  networks:
    brume-net:

services:
  # brume code land
  orchestrator:
    <<: *brume-default
    image: brume-orchestrator
    container_name: brume-orchestrator
    build:
      dockerfile: ./brume/Dockerfile.dev
    command: ["air", "-c", ".air.toml"]
    working_dir: /brume/brume
    volumes:
      - .:/brume
    restart: always
    env_file:
      - ./brume/.env.assume-role
    ports:
      - 9877:9877
      - 9876:9876
    depends_on:
      - postgres
      - redis

  # console:
  #   <<: *brume-default
  #   image: brume-console
  #   container_name: brume-console
  #   build:
  #     context: ./console
  #     dockerfile: Dockerfile.dev
  #   ports:
  #     - 3000:5173
  #   volumes:
  #     - ./console/src:/app/src
  #     - ./console/codegen.ts:/app/codegen.ts
  #     - ./brume/internal/router/public-gql/graph/public.graphql:/app/graph/public.graphql
  #   depends_on:
  #     - orchestrator

  # service land
  postgres:
    <<: *brume-default
    image: postgres:latest
    container_name: brume-postgres
    environment:
      POSTGRES_USER: brume
      POSTGRES_PASSWORD: brumepass
      POSTGRES_DB: brume
      PGDATA: /data/postgres
    ports:
      - 5432:5432
    volumes:
      - postgres:/data/postgres

  # clickhouse:
  #   <<: *brume-default
  #   container_name: brume-clickhouse
  #   image: yandex/clickhouse-server:latest
  #   environment:
  #     - CLICKHOUSE_DB=brume
  #     - CLICKHOUSE_USER=brume
  #     - CLICKHOUSE_PASSWORD=brumepass
  #   ports:
  #     - 8123:8123
  #     - 9000:9000
  #     - 8009:9009
  #   networks:
  #     - brume-net
  #   volumes:
  #     - clickhouse-data:/var/lib/clickhouse

  temporal:
    container_name: temporal
    depends_on:
      - postgres
    environment:
      - DB=postgres12
      - DB_PORT=5432
      - POSTGRES_USER=brume
      - POSTGRES_PWD=brumepass
      - POSTGRES_SEEDS=postgres
      - DYNAMIC_CONFIG_FILE_PATH=config/dynamicconfig/development-sql.yaml
      - TEMPORAL_ADDRESS=temporal:7233
      - TEMPORAL_CLI_ADDRESS=temporal:7233
    image: temporalio/auto-setup:1.29.1
    networks:
      - brume-net
    ports:
      - 7233:7233
    volumes:
      - ./infra/temporal.yaml:/etc/temporal/config/dynamicconfig/development-sql.yaml

  temporal-ui:
    container_name: temporal-ui
    depends_on:
      - temporal
    environment:
      - TEMPORAL_ADDRESS=temporal:7233
      - TEMPORAL_CORS_ORIGINS=http://localhost:3000
    image: temporalio/ui:2.34.0
    networks:
      - brume-net
    ports:
      - 8080:8080

  redis:
    <<: *brume-default
    image: redis:latest
    container_name: brume-redis
    ports:
      - 6379:6379
    volumes:
      - redis-data:/data

networks:
  brume-net:
    driver: bridge

volumes:
  postgres:
  clickhouse-data:
  redis-data:
