version: "3"
x-restart-policy: &restart_policy
  restart: unless-stopped
x-brume-default: &brume-default
  <<: *restart_policy
  networks:
    brume-net:

services:
  # brume code land
  orchestrator:
    <<: *brume-default
    image: brume-orchestrator
    container_name: brume-orchestrator
    build:
      dockerfile: ./brume/Dockerfile.dev
    command: ["air", "-c", ".air.toml"]
    working_dir: /brume/brume
    volumes:
      - .:/brume
    restart: always
    ports:
      - 9877:9877
      - 9876:9876
    depends_on:
      - postgres
      - redis

  console:
    <<: *brume-default
    image: brume-console
    container_name: brume-console
    build:
      context: ./console
      dockerfile: Dockerfile.dev
    ports:
      - 3000:5173
    volumes:
      - ./console/src:/app/src
      - ./console/codegen.ts:/app/codegen.ts
      - ./brume/internal/router/public-gql/graph/public.graphql:/app/graph/public.graphql
    depends_on:
      - orchestrator

  # service land
  postgres:
    <<: *brume-default
    image: postgres:latest
    container_name: brume-postgres
    environment:
      POSTGRES_USER: brume
      POSTGRES_PASSWORD: brumepass
      POSTGRES_DB: brume
      PGDATA: /data/postgres
    ports:
      - 5432:5432
    volumes:
      - postgres:/data/postgres

  # clickhouse:
  #   <<: *brume-default
  #   container_name: brume-clickhouse
  #   image: yandex/clickhouse-server:latest
  #   environment:
  #     - CLICKHOUSE_DB=brume
  #     - CLICKHOUSE_USER=brume
  #     - CLICKHOUSE_PASSWORD=brumepass
  #   ports:
  #     - 8123:8123
  #     - 9000:9000
  #     - 8009:9009
  #   networks:
  #     - brume-net
  #   volumes:
  #     - clickhouse-data:/var/lib/clickhouse

  redis:
    <<: *brume-default
    image: redis:latest
    container_name: brume-redis
    ports:
      - 6379:6379
    volumes:
      - redis-data:/data

networks:
  brume-net:
    driver: bridge

volumes:
  postgres:
  clickhouse-data:
  redis-data:
