[logs]
root = "error"
router.http = "info"
internal.db = "info"


[orchestrator]
unhealthy_machine_threshold = 10
unhealthy_job_threshold = 10
reschedule_jobs = false

[ticker]
rapid_ticker = 5

[server]
host = "0.0.0.0"
orchestrator_port = 9876
graphql_port = 9877
grpc_port = 9878

[postgres]
host = "postgres"
port = 5432
db = "brume"
user = "brume"
password = "brumepass"
max_idle = 1
max_open = 1
logs = "info"

[redis]
host = "redis"
port = 6379
db = 0
password = ""

[clickhouse]
host = "clickhouse"
port = 9000
db = "brume"
user = "brume"
password = "brumepass"

[workos]
client_id = ""
client_secret = ""
redirect_uri = "http://localhost:9877/wos/callback"

[brume]
frontend = "http://localhost:3000"
is_dev = true
sudo_provider_id = ""
staff_org_id = ""
policy_url = "https://brumecloud-cf-access-policy.s3.eu-north-1.amazonaws.com/cloudformation-access-policy.json"
brume_trust_arn = "arn:aws:iam::396677989814:role/BrumeAssume"

[durable]
durable_name = "durable"
database_conn = "postgres://brume:brumepass@postgres:5432"
database_name = "dbos"
admin_server = true
admin_server_port = 8080